h1{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    margin-bottom: 5px;
}

h4{
    color: darkgrey;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 1;
}
p{
    font-family: Droid Sans;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-right: 20px;
    margin-top: 5px;
    line-height: 1.2;
}

img{
    display: flex;
    justify-content: right;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top:0;
}

a{
    text-decoration: none;
    color: darkseagreen;
    font-family: "Lucida Bright", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.about{
    display: flex;
    align-items: center;
}

