.icon {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    gap: 15px;
    margin-top: 10px;
    font-size: 40px;
}
.github-icon{
    color: black;
}
.linkedin-icon{
    color: #0077B5;
}
.envelope-icon{
    color:silver;
}